# Environments
venv/
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Logs
*.log
logs/
backend/logs/

# ML models and large artifacts
*.safetensors
*.pkl
ml model/

# Jupyter Notebooks checkpoint
.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db
